/* Google fonts added */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');

/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.btn:link,
.btn:visited {
    padding: 12px 35px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

/* Global reset */

/* Header style start */
header {
    background-color: #2D25A0;
    color: #fff;
}

.hero-area {
    /* flex container */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 80px 0;
}

.hero-left-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.hero-title {
    font-size: 60px;
}

.btn--red {
    background-color: #E02C6D;
    transition: transform .2s ease-in-out;
}

/* btn hover state */
.btn--red:hover {
    transform: translateY(-3px);
}

/* btn active state */
.btn--red:active {
    transform: translateY(3px);
}

.hero-right-content {
    width: 556px;
}

.hero-image img {
    width: 100%;
}

/* Header style end */

/* palyers-gallery start */
.palyers-gallery {
    background-color: #fff;
    padding: 50px 0 80px 0;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player-single {
    max-width: 350px;
    min-height: 500px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.player {
    padding: 10px;
}

.player-image img {
    width: 100%;
}

.player-info h2 {
    margin: 15px 0;
}

.player-name {
    font-size: 28px;
    font-weight: 600;
}

.description {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
}

/* palyers-gallery end */

/* pricing club sizes section start */
.pricing {
    padding: 80px 0;
}

.pricing-content {
    text-align: center;
    margin-bottom: 25px;
}

.pricing-cost-text {
    font-size: 17px;
    margin: 15px 0;
}

.subs-btn {
    width: 150px;
    height: 60px;
    border: none;
    padding: 15px 25px;
    margin-left: 15px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    border: 2px solid #E02C6D;
}

.subs-btn:first-of-type {
    background-color: #E02C6D;
    color: #fff;
}

.subs-btn:last-of-type:hover {
    background-color: #E02C6D;
    color: #fff;
}

.pricing-table-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ebe9e9;
    border-radius: 50px;
    padding: 40px 0;
}

.pricing-single-unit:nth-child(2) {
    border-right: 2px solid #c5c2c2;
    border-left: 2px solid #c5c2c2;
}

.pricing-table-list {
    padding: 60px 80px;
}

.pricing-table {
    text-align: center;
    font-weight: 300;
}

.pricing-title {
    font-size: 30px;
    font-weight: inherit;
}

.teams {
    font-size: 18px;
    font-weight: inherit;
    margin: 15px 0;
}

.pricing-btn {
    width: 170px;
    height: 50px;
    border: none;
    padding: 10px 25px;
    margin-left: 15px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    border: 2px solid #E02C6D;
}

.pricng-condition-list {
    list-style: none;
    margin-top: 20px;
}

.pricng-condition-list li {
    font-size: 17px;
    color: #111;
    margin: 10px 0;
    font-weight: 400;
}

.pricng-condition-list li i {
    color: #E02C6D;
    margin-right: 5px;
    font-size: 18px;
}

.pricing-features-btn {
    border: none;
    padding: 20px 30px;
    font-size: 17px;
    border-radius: 30px;
    color: #fff;
    background-color: #E02C6D;
    transition: background-color .4s;
    text-align: center;
    margin-top: 25px;
}

.pricing-features-btn:hover {
    background-color: #ec1463;
}

/* pricing club sizes section end */

/* call to action area start */
.cta-area {
    padding: 80px 0;
}

.cta-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
}

/* .cta-left-side {
    width: 469px;
} */

.cta-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cta-description p {
    font-weight: 500;
    color: #6C6C6C;
    line-height: 1.8;
    margin: 20px 0;
    padding-right: 45px;
}

.cta-title {
    font-size: 48px;
    color: #111;
}

.cta-right-side {
    max-width: 567px;
}

.cta-image img {
    width: 100%;
}

/* call to action area end */

/* footer start */
.footer {
    padding: 60px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    max-width: 483px;
}

.footer-logo img {
    width: 100%;
}

.footer-social {
    margin-top: 20px;
}

.footer-social .social {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-items {
    width: 32px;
    height: 32px;
    margin-right: 20px;
    padding: 15px;
    background-color: #dfdfdf;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-items .social-items-links {
    color: #969BAB;
    transition: color .2s ease-in;
}

.social-items:hover .social-items-links {
    color: #E02C6D;
}

.footer-copyright {
    margin-top: 20px;
}

.footer-text {
    font-size: 18px;
    font-weight: 500;
}

/* footer end */


/* Media query */
@media screen and (max-width:568px) {

    .hero-area {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px 0;
        margin-left: 15px;
    }

    .hero-left-content {
        align-items: center;
        margin-bottom: 45px;
    }

    .hero-title {
        font-size: 30px;
        text-align: center;
    }

    .hero-right-content {
        width: 400px;
    }

    .hero-image img {
        width: 80%;
    }

    .players {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        margin-left: 20px;
    }

    .cta-area {
        padding: 20px 0;
    }

    .cta-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .cta-title {
        font-size: 25px;
    }

    .cta-description {
        align-items: center;
        margin-bottom: 25px;
    }

    .cta-description p {
        padding: 0 25px;
        text-align: center;
    }

    .cta-left-side {
        text-align: center;
    }

    .pricing {
        padding: 10px 0;
    }

    .pricing-content h2 {
        font-size: 30px;
    }

    .pricing-table-box {
        grid-template-columns: repeat(1, 1fr);
        background-color: #fff;
        padding: 40px 0;
        width: 100%;
        margin-left: 10px;
    }

    .pricing-single-unit {
        margin-bottom: 25px;
        background-color: #fff;
    }

    .pricing-single-unit:nth-child(2) {
        border-right: 0;
        border-left: 0;
    }

    .pricing-table-list {
        padding: 20px 0;

    }

    .pricng-condition-list {
        text-align: center;
    }

    .pricing-features-btn {
        width: 100%;
        text-align: center;
    }

    .footer {
        padding: 0;
    }
}